// Тут будут стили после 12.07.2023
.rooms{
	margin-top: 40px;
	@include adaptiveValue("margin-bottom", 70, 40);
	&__grid{
		display: flex;
		flex-wrap: wrap;
		@include adaptiveValue("gap", 25, 15);
	}
	&__item{
		@include adaptiveValue("padding", 15, 10);
		@include adaptiveValue("width", 235, 162);
		@include adaptiveValue("height", 235, 160);
		@include adaptiveValue("font-size", 15, 13);
		border-radius: 16px;
		background: #f8f8f8;
		flex-shrink: 0;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		text-align: center;
		color: #000;
		transition: all 0.3s;
		&:hover{
			filter: grayscale(1);
		}
	}
	&__item-img{
		@include adaptiveValue("width", 156, 101);
		@include adaptiveValue("height", 112, 73);
		display: flex;
		align-items: center;
		justify-content: center;
		img{
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
}
.payment-types {
	@include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("margin-top", 40, 25);
	@include adaptiveValue("margin-bottom", 80, 40);
	border-top: 1px solid #cbcbcb;
	&__title {
		font-size: 20px;
		color: #000;
		@include adaptiveValue("margin-bottom", 40, 25);
	}
	&__list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}
	&__item {
		@include adaptiveValue("padding", 30, 15);
		border-radius: 16px;
		background: rgba(255, 255, 255, 0);
		border: 1px solid #e1e1e1;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__item-name {
		@include adaptiveValue("margin-top", 15, 5);
		font-weight: 500;
		font-size: 17px;
		color: #000;
		margin-bottom: 15px;
	}
	&__item-text {
		font-weight: 300;
		font-size: 15px;
		line-height: 26px;
		color: #000;
	}
	&__item-image {
		width: 95px;
		height: 95px;
		background: #f6f6f6;
		border-radius: 50%;
		align-self: flex-end;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	@media (max-width: 1280px) {
		&__list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: $mobile) {
		&__list {
			grid-template-columns: repeat(1, 1fr);
		}
		&__item {
			flex-direction: column;
		}
	}
}
.warranty {
	@include adaptiveValue("padding-top", 60, 40);
	@include adaptiveValue("margin-top", 40, 20);
	border-top: 1px solid #cbcbcb;
	&__documents-quality {
		display: flex;
		@include adaptiveValue("gap", 80, 30);
		margin-bottom: 80px;
	}
	&__documents {
		@include adaptiveValue("padding-top", 30, 0, 0, 1800, 1240);
	}
	&__documents-title {
		@include adaptiveValue("margin-bottom", 38, 20);
		@include adaptiveValue("font-size", 20, 18);
		line-height: 1.5;
		color: #000;
	}
	&__documents-item {
		@include adaptiveValue("margin-bottom", 25, 15);
	}
	&__documents-link {
		display: flex;
		align-items: flex-start;
		gap: 15px;
		font-weight: 300;
		font-size: 15px;
		color: #000;
		text-decoration: underline;
		&:hover{
			color: #0391A2;
		}
		img{
			width: 17px;
			height: 19px;
			margin-top: -2px;
		}
	}
	&__quality {
		display: flex;
	}
	&__quality-left {
		border-radius: 16px;
		background: rgba(255, 255, 255, 0);
		border: 1px solid #e1e1e1;
		@include adaptiveValue("padding-top", 80, 30, 0, 1800, 1240);
		@include adaptiveValue("padding-bottom", 80, 20, 0, 1800, 1240);
		@include adaptiveValue("padding-left", 70, 25, 0, 1800, 1240);
		@include adaptiveValue("padding-right", 70, 25, 0, 1800, 1240);
		@include adaptiveValue("width", 580, 406, 0, 1800, 1240);
		@include adaptiveValue("height", 345, 300, 0, 1800, 1240);
	}
	&__quality-title {
		@include adaptiveValue("font-size", 20, 18);
		@include adaptiveValue("margin-bottom", 40, 20);
		line-height: 1.5;
		color: #000;
	}
	&__quality-btn{
		width: 220px !important;
		height: 54px;
		font-size: 16px;
		color: #000;
	}
	&__quality-right {
		@include adaptiveValue("width", 310, 260, 0, 1800, 1240);
		@include adaptiveValue("height", 345, 300, 0, 1800, 1240);
		@include adaptiveValue("padding-top", 70, 30, 0, 1800, 1240);
		@include adaptiveValue("padding-left", 40, 25, 0, 1800, 1240);
		@include adaptiveValue("padding-right", 40, 25, 0, 1800, 1240);
		border-radius: 16px;
		background: #42acb9;
		position: relative;
	}
	&__quality-percent {
		@include adaptiveValue("margin-bottom", 26, 15);
		img{
			width: 100%;
			height: auto;
		}
	}
	&__quality-button{
		width: 100% !important;
		height: 46px;
		border-radius: 23px;
		@include adaptiveValue("font-size", 16, 14);
		padding: 0 10px;
	}
	&__quality-icon{
		position: absolute;
		bottom: -70px;
		left: 50%;
		margin-left: -50px;
	}
	&__shop {
		border-top: 1px solid #cbcbcb;
		@include adaptiveValue("padding-top", 50, 30);
		@include adaptiveValue("margin-bottom", 70, 40);
		@include adaptiveValue("margin-top", 100, 50);
		&._no-bdt{
			border-top: none;
		}
	}
	&__shop-title {
		@include adaptiveValue("font-size", 32, 24);
		@include adaptiveValue("margin-bottom", 30, 20);
		color: #000;
	}
	&__shop-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
	}
	&__shop-item {
		@include adaptiveValue("padding", 40, 15, 0, 1800, 1280);
		border-radius: 16px;
		background: rgba(255, 255, 255, 0);
		border: 1px solid #e1e1e1;
		display: flex;
		justify-content: space-between;
		gap: 15px;
	}
	&__shop-count {
		@include adaptiveValue("margin-bottom", 24, 15);
		display: flex;
		align-items: center;
	}
	&__shop-for {
		@include adaptiveValue("font-size", 20, 16);
		line-height: 1.5;
		color: #000;
		&._fz-16{
			@include adaptiveValue("font-size", 16, 14);
		}
	}
	&__shop-image {
		@include adaptiveValue("width", 230, 120, 0, 1800, 1280);
		text-align: right;
		display: flex;
		align-items: center;
		img{
			height: auto;
			width: auto;
			max-width: 100%;
		}
	}
	&__shop-2cols{
		@include adaptiveValue("margin-top", 70, 40);
		@include adaptiveValue("margin-bottom", 70, 40);
		@include adaptiveValue("padding-bottom", 60, 30);
		@include adaptiveValue("gap", 40, 25);
		border-bottom: 1px solid #cbcbcb;
		font-weight: 300;
		font-size: 15px;
		line-height: 26px;
		color: #000;
		display: flex;
		&._no-bdb{
			border-bottom: none;
		}
		p{
			@include adaptiveValue("margin-bottom", 30, 15);
		}
	}
	&__shop-2cols-title{
		font-size: 20px;
		color: #000;
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	&__content {
		@include adaptiveValue("margin-top", 60, 40);
		@include adaptiveValue("margin-bottom", 60, 40);
		@include adaptiveValue("padding-bottom", 60, 40);
		border-bottom: 1px solid #cbcbcb;
		font-weight: 300;
		font-size: 15px;
		line-height: 1.4;
		color: #000;
		&._no-bdb{
			border-bottom: none;
		}
		&._no-pb{
			margin-bottom: 0;
		}
		&._no-mb{
			padding-bottom: 0;
		}
		p{
			margin-bottom: 20px;
		}
		a{
			color: #0391a2;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&__content-title {
		@include adaptiveValue("font-size", 32, 24);
		font-weight: 400;
		color: #232323;
		margin-bottom: 30px;
	}
	&__content-list {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 15px;
		margin-top: 50px;
		margin-bottom: 35px;
	}
	&__content-item {
		border-radius: 16px;
		background: rgba(255, 255, 255, 0);
		border: 1px solid #e1e1e1;
		padding: 50px 30px 30px 30px;
		display: flex;
		justify-content: space-between;
		gap: 20px;
	}
	&__content-item-content {
		min-height: 200px;
		display: flex;
		flex-direction: column;
		ul li {
			padding-left: 6px;
			margin-bottom: 10px;
		}
		ul li::before {
			content: "\2022";
			color: #5c99b5;
			font-weight: bold;
			display: inline-block;
			width: 6px;
			margin-left: -6px;
			margin-right: 5px;
		}
	}
	&__content-item-title {
		font-size: 20px;
		font-weight: 400;
		color: #000;
		margin-bottom: 20px;
	}
	&__content-item-image {
		width: 95px;
		height: 95px;
		background: #f6f6f6;
		border-radius: 50%;
		align-self: flex-end;
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
	}
	&__content-download{
		font-size: 15px;
		display: flex;
		align-items: center;
		gap: 15px;
		margin: 30px 0 0;
	}
	&__content-attention{
		font-size: 13px;
		color: #000;
		font-weight: 400;
		display: flex;
		align-items: center;
		gap: 15px;
		margin-top: auto;
	}
	@media (max-width: 1240px) {
		&__documents-quality {
			flex-direction: column;
		}
		&__quality-left {
			height: auto !important;
			width: calc(100vw - 300px) !important;
		}
		&__quality-right {
			height: auto !important;
			width: 300px !important;
			min-height: 300px;
			padding-bottom: 100px !important;
		}
		&__shop-list {
			grid-template-columns: repeat(2, 1fr);
		}
		&__content-list {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: $mobile) {
		&__quality {
			flex-direction: column;
		}
		&__quality-left {
			width: 100% !important;
		}
		&__quality-right {
			width: 100% !important;
		}
		&__shop-list {
			grid-template-columns: repeat(1, 1fr);
		}
		&__shop-count span{
			margin-right: 7px !important;
		}
		&__shop-image {
			width: 100px !important;
		}
		&__shop-2cols{
			flex-direction: column;
		}
		&__content-list {
			grid-template-columns: repeat(1, 1fr);
		}
		&__content-item {
			flex-direction: column;
		}
		&__content-item-content {
			min-height: 0;
		}
		&__shop-count img{
			max-width: 80%;
		}
		&__content-attention{
			margin-top: 20px;
		}
	}
}
.about{
	&__preview{
		line-height: 1.5;
		color: #000;
		@include adaptiveValue("margin-top", 75, 35);
		@include adaptiveValue("margin-bottom", 90, 35);
		@include adaptiveValue("font-size", 32, 24);
		max-width: 1040px;
	}
	&__image{
		position: relative;
	}
	&__image-src{
		width: 100%;
		height: auto;
	}
	&__image-content {
		position: absolute;
		border-radius: 16px;
		background: #fff;
		@include adaptiveValue("padding", 45, 15);
		@include adaptiveValue("left", 40, 15);
		@include adaptiveValue("bottom", 40, 15);
		max-width: 635px;
	}
	&__image-logo{
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	&__image-title {
		@include adaptiveValue("font-size", 20, 16);
		line-height: 1.4;
		color: #000;
		margin-bottom: 14px;
	}
	&__image-text {
		font-weight: 300;
		font-size: 15px;
		line-height: 1.5;
		color: #000;
	}
	&__images-grid{
		display: flex;
		gap: 30px;
		margin-top: 30px;
		@include adaptiveValue("margin-bottom", 80, 40);
	}
	@media (max-width: 1240px) {
		&__images-grid{
			display: grid;
			grid-template-columns: repeat(2, 1fr);
		}
	}
	@media (max-width: $mobile) {
		&__image-content{
			position: relative;
			bottom: auto !important;
			left: auto !important;
			border: 1px solid #e1e1e1;
			max-width: 100%;
			margin-top: 15px;
		}
	}
}
.blog-tags{
	display: flex;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 15px;
	margin-bottom: 25px;
	&__item{
		flex-shrink: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 0 18px;
		border: 1px solid #e1dfdf;
		height: 45px;
		border-radius: 22.5px;
		font-size: 13px;
		color: #000;
		transition: all 0.3s;
		&:hover{
			border-color: #0391A2;
		}
		&._blog-detail{
			height: 30px;
			padding: 0 14px;
			font-size: 12px;
		}
	}
}
.blog{
	display: flex;
	justify-content: space-between;
	gap: 50px;
	&._bd-grey{
		border-bottom: 1px solid #cbcbcb;
		padding-bottom: 80px;
		margin-bottom: 80px;
	}
	&__item{
		display: flex;
		gap: 40px;
	}
	&__item-image{
		border-radius: 16px;
		overflow: hidden;
		@include adaptiveValue("width", 500, 345);
		flex-shrink: 0;
		img{
			width: 100%;
			height: auto;
		}
	}
	&__item-content{
		display: flex;
		flex-direction: column;
	}
	&__item-title{
		font-size: 20px;
		line-height: 1.4;
		color: #000;
		margin-bottom: 15px;
	}
	&__item-date{
		font-weight: 300;
		font-size: 15px;
		line-height: 1.6;
		color: #8f8f8f;
		display: flex;
		align-items: center;
		gap: 12px;
		margin-bottom: 25px;
		svg{
			fill: #8f8f8f;
			width: 15px;
			height: 15px;
		}
		&._mb-0{
			margin-bottom: 0;
		}
	}
	&__item-text{
		font-weight: 300;
		font-size: 15px;
		line-height: 1.6;
		color: #000;
		margin-bottom: 30px;
	}
	&__item-detail{
		@include adaptiveValue("width", 160, 120);
		margin-bottom: 20px;
	}
	&__item-tags-list{
		margin-top: auto;
		display: flex;
		gap: 10px;
		overflow-x: auto;
		padding-bottom: 10px;
	}
	&__item-tag{
		font-size: 12px;
		color: #000;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 15px;
		border: 1px solid #e1dfdf;
		transition: all 0.3s;
		padding: 0 14px;
		height: 30px;
		flex-shrink: 0;
		&:hover{
			border-color: #0391A2;
		}
	}
	@media (max-width: 1280px) {
		&__item{
			flex-direction: column;
		}
	}
	@media (max-width: 768px) {
		flex-direction: column;
	}
}
.blog-list{
	display: flex;
	flex-direction: column;
	gap: 60px;
}
.blog-sidebar{
	@include adaptiveValue("width", 400, 345);
	flex-shrink: 0;
	@media (max-width: 768px) {
		margin: 0 auto;
	}
}
.blog-subscribe{
	width: 100%;
	border-radius: 16px;
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
	@include adaptiveValue("padding-top", 50, 30);
	@include adaptiveValue("padding-bottom", 50, 30);
	@include adaptiveValue("padding-left", 40, 20);
	@include adaptiveValue("padding-right", 40, 20);
	&__title{
		font-size: 17px;
		color: #000;
		margin-bottom: 14px;
	}
	&__subtitle{
		font-weight: 300;
		font-size: 15px;
		line-height: 1.6;
		color: #635858;
		margin-bottom: 20px;
	}
}
.blog-socials{
	@include adaptiveValue("padding", 40, 20);
	@include adaptiveValue("height", 125, 100);
	width: 100%;
	border-radius: 16px;
	background: #f6f6f6;
	border: 1px solid #e1e1e1;
	display: flex;
	align-items: center;
	font-size: 17px;
	color: #000;
	span{
		margin-right: 10px;
	}
	.social-link{
		flex-shrink: 0;
	}
}
.blog-detail{
	font-weight: 300;
	font-size: 15px;
	line-height: 1.6;
	color: #000;
	&__subtitle {
		font-size: 20px;
		color: #000;
		margin: 20px 0;
	}
	img{
		width: 100%;
		height: auto;
		margin-bottom: 40px;
	}
	p{
		margin-bottom: 40px;
	}
	ul li {
		padding-left: 6px;
		margin-bottom: 10px;
	}
	ul li::before {
		content: "\2022";
		color: #5c99b5;
		font-weight: bold;
		display: inline-block;
		width: 6px;
		margin-left: -6px;
		margin-right: 5px;
	}
	.show-more{
		text-decoration: underline;
		&:hover{
			text-decoration: none;
		}
	}
}
.similar-posts{
	margin: 80px auto;
	padding-top: 80px;
	border-top: 1px solid #cbcbcb;
	&__slide{
		img{
			@include adaptiveValue("width", 440, 340);
			height: 286px;
			border-radius: 16px;
			object-fit: cover;
			margin-bottom: 30px;
		}
	}
	&__title{
		font-size: 15px;
		line-height: 1.6;
		color: #000;
		margin-bottom: 22px;
		display: block;
	}
}
.reviews-page{
	&__add-feedback{
		position: absolute;
		right: 20px;
		top: 0;
		height: 45px;
		@include adaptiveValue("width", 220, 160);
	}
	&__recommendations{
		@include adaptiveValue("padding-top", 45, 30);
		@include adaptiveValue("margin-top", 50, 30);
		@include adaptiveValue("margin-bottom", 55, 35);
		border-top: 1px solid #cbcbcb;
	}
	&__recommendations-title{
		font-size: 20px;
		color: #000;
		margin-bottom: 22px;
	}
	&__recommendations-body{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		align-items: center;
		img{
			width: auto;
			height: auto;
		}
	}
	@media (max-width: $mobile) {
		&__add-feedback{
			position: relative;
			right: auto;
			top: auto;
			margin-top: 15px;
			width: 100% !important;
		}
	}
}