.btn{
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiveValue("gap", 20, 10);
	@include adaptiveValue("width", 135, 120);
	height: 40px;
	border-radius: 12px;
	font-size: 13px;
	transition: all 0.3s;
	svg{
		transition: all 0.3s;
	}
	&._blue{
		background-color: #0391a2;
		color: #fff;
		svg{
			fill: #fff;
		}
	}
	&._blue:hover{
		background-color: #f7bd13;
		color: #000;
		svg{
			fill: #000;
		}
	}
	&._yellow{
		background-color: #f7bd13;
		color: #000;
		svg{
			fill: #000;
		}
	}
	&._yellow:hover{
		background-color: #0391a2;
		color: #fff;
		svg{
			fill: #fff;
		}
	}
	&._white{
		background-color: #fff;
		color: #2d3433;
		border: 1px solid #fff;
		svg{
			fill: #2d3433;
		}
	}
	&._white:hover{
		background-color: transparent;
		color: #fff;
		svg{
			fill: #fff;
		}
	}
	&._grey{
		background-color: #fff;
		color: #000;
		border: 1px solid #e1dfdf;
		svg{
			fill: #000;
		}
	}
	&._grey:hover{
		background: #ededed;
		border: 1px solid #e1dfdf;
		svg{
			fill: #fff;
		}
	}
	&._buy{
		svg{
			width: 15px;
			width: 17px;
		}
		@media (max-width: 768px) {
			font-size: 11px;
			width: 95px;
			height: 35px;
			border-radius: 6px;
			svg{
				width: 12px;
				width: 13px;
			}
		}
	}
	&._border-yellow{
		border: 2px solid #f7b905;
		&:hover{
			color: #f7b905;
		}
	}
}
.tooltip{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	&__item{
		position: absolute;
	}
	&__btn{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 1px solid #e1e1e1;
		background-color: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		position: relative;
		&::after{
			content:"";
			display: block;
			width: 10px;
			height: 10px;
			background: #0391a2;
			border-radius: 50%;
		}
		&._active, &:hover, .tooltip__item:hover &{
			z-index: 2;
			background-color: #0391A2;
			&::after{
				background: #fff;
			}
		}
	}
	&__body{
		position: relative;
		z-index: 1;
		visibility: hidden;
		overflow: hidden;
		width: 0;
		height: 120px;
		border-radius: 16px;
		background: #fff;
		position: absolute;
		left: 15px;
		top: -45px;
		transition: all 0.3s;
		display: flex;
		align-items: center;
		.tooltip__item._open-right &{
			left: auto;
			right: 15px;
		}
		.tooltip__item:hover &{
			width: 280px;
			padding: 0 20px;
			border: 1px solid #e1e1e1;
			visibility: visible;
		}
	}
	&__image{
		margin-right: 18px;
	}
	&__content{
		min-width: 160px;
	}
	&__name{
		font-weight: 300;
		font-size: 13px;
		color: #000;
		margin-bottom: 12px;
	}
	&__info{
		display: flex;
		align-items: center;
		margin-bottom: 10px;
	}
	&__price{
		font-weight: 600;
		font-size: 13px;
		color: #000;
		margin-right: 10px;
		&._old{
			text-decoration: line-through;
			font-weight: 300;
			font-size: 10px;
			color: #818181;
			align-self: flex-start;
			margin-top: 2px;
		}
	}
	&__discount{
		position: relative;
		width: 48px;
		height: 20px;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		svg{
			fill: #6EBE44;
			position: absolute;
			left: 0;
			top: 0;
			width: 48px;
			height: 20px;
		}
		span{
			position: relative;
			z-index: 1;
			font-size: 10px;
			color: #fff;
			margin-right: 5px;
		}
	}
	&__detail{
		font-weight: 300;
		text-decoration: underline;
		font-size: 13px;
		color: #0391a2;
		&:hover{
			text-decoration: none;
		}
	}
	@media (max-width: 1270px) {
		&__body{
			scale: 0.7;
			left: -30px;
			.tooltip__item._open-right &{
				left: auto;
				right: -30px;
			}
		}
	}
}
.rating{
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 5, 3);
	color: #000;
	font-size: 12px;
	&._biigger-size{
		font-size: 20px;
		@include adaptiveValue("font-size", 20, 12);
	}
	span{
		margin-left: 6px;
		._biigger-size &{
			margin-left: 9px;
		}
	}
	&__outer{
		display: flex;
		align-items: center;
		@include adaptiveValue("gap", 30, 22);
	}
	&__star{
		display: block;
		fill: #e1e1e1;
		line-height: 0;
		&._active, &:hover{
			fill: #ffc02b;
		}
		svg{
			@include adaptiveValue("width", 14, 11);
			@include adaptiveValue("height", 14, 11);
			._biigger-size &{
				@include adaptiveValue("width", 18, 14);
				@include adaptiveValue("height", 18, 14);
			}
		}
	}
}
.like-btn{
	border-radius: 50%;
	@include adaptiveValue("width", 45, 30);
	@include adaptiveValue("height", 45, 30);
	background: #fff;
	border: 1px solid #e1e1e1;
	overflow: hidden;
	display: flex;
	align-items: center;
	justify-content: center;
	transition: all 0.3s;
	svg{
		transition: all 0.3s;
		width: 16px;
		height: 15px;
	}
	&:hover{
		background: #f7b905;
		svg{
			fill: #fff;
		}
	}
}
.discount-round{
	border-radius: 50%;
	@include adaptiveValue("width", 55, 35);
	@include adaptiveValue("height", 55, 35);
	background: #6ebe44;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 12px;
	color: #fff;
}
.tag-list{
	display: flex;
	align-items: center;
	gap: 10px;
	&__item{
		position: relative;
		background-color: #0391a2;
		border-radius: 12.5px;
		height: 26px;
		padding: 0 14px;
		display: flex;
		align-items: center;
		@include adaptiveValue("font-size", 13, 11);
		color: #fff;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		flex-shrink: 0;
		&._blue{
			background-color: #3c8fef;
		}
		&._green{
			background-color: #3fae6f;
		}
		&._red{
			background-color: #e23f4c;
		}
		&._yellow{
			background-color: #f36319;
		}
		&._trnsprnt-bg-yllw-bd{
			border: 1px solid #f7bd13;
			background-color: transparent;
			color: #000;
		}
		&._svg-percent{
			background-color: #fff;
			border: 1px solid #F50000;
			color: #000;
			svg{
				@include adaptiveValue("width", 15, 12);
				@include adaptiveValue("height", 15, 12);
				margin-right: 4px;
				fill: #F50000;
			}
		}
		&._havePopup{
			cursor: pointer;
		}
	}
}
.tag__popup{
	position: absolute;
	background-color: #fff;
	border-radius: 6px;
	border: 1px solid #e1e1e1;
	box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.16);
	padding:25px 20px 15px;
	top: -180px;
	max-width: 390px;
	width: 100%;
	color: #000;
	transition: all 0.3s;
	&-content{
		height: 130px;
		overflow-y: auto;
	}
	&-title{
		font-size: 13px;
		color: #000;
		margin-bottom: 10px;
	}
	&-item{
		font-weight: 300;
		font-size: 13px;
		line-height: 20px;
		color: #000;
		margin-bottom: 10px;
		a{
			text-decoration: underline;
			color: #0391A2;
		}
	}
	@media (max-width: 768px) {
		position: fixed;
		border-radius: 0;
		padding:24px 15px;
		top: auto;
		bottom: 0;
		left: 0;
		max-width: 100%;
		z-index: 2;
		._body-scroll &{
			bottom: 55px;
		}
	}
}
.content-section{
	@include adaptiveValue("margin-top", 80, 30);
	@include adaptiveValue("margin-bottom", 50, 20);
	&__h1{
		@include adaptiveValue("font-size", 42, 22);
		@include adaptiveValue("margin-bottom", 25, 12);
		color: #000;
		sup{
			@include adaptiveValue("font-size", 14, 11);
			font-weight: 500;
			color: #0391a2;
		}
		&._border-bottom{
			@include adaptiveValue("padding-bottom", 35, 20);
			border-bottom: 1px solid #CBCBCB;
		}
	}
	&__h2{
		@include adaptiveValue("font-size", 32, 18);
		color: #000;
	}
	&__text{
		font-weight: 300;
		@include adaptiveValue("font-size", 15, 13);
		@include adaptiveValue("line-height", 26, 18);
		max-width: 1640px
	}
	&__link{
		text-decoration: underline;
		color: #0391a2;
		&:hover{
			text-decoration: none;
		}
	}
}
.swiper{
	position: relative;
	&-pagination{
		display: flex;
		align-items: center;
		margin-top: 60px;
		@include adaptiveValue("margin-top", 60, 30);
		&-bullet{
			height: 1px;
			width: 100%;
			background: #cbcbcb;
			transition: all 0.4s, transform 0.4s;
			cursor: pointer;
			&-active{
				background: #0391a2;
			}
		}
	}
	&-button-prev, &-button-next{
		position: absolute;
		top: 50%;
		transform: translate( 0, -50%);
		width: 40px;
		height: 40px;
		background-color: #fff;
		border: 1px solid #e6e6e6;
		border-radius: 50%;
		display: flex;
		align-items: center;
		justify-content: center;
		transition: all 0.3s;
		svg{
			transition: all 0.3s;
			fill: #000;
		}
		&.swiper-button-disabled{
			cursor: initial;
			svg{
				fill: rgba(0,0,0,0.3);
			}
		}
		&:not(.swiper-button-disabled):hover{
			border-color: #0391a2;
			background-color: #0391a2;
			svg{
				fill: #fff;
			}
		}
	}
	&-button-prev{
		@include adaptiveValue("left", 30, 15, 0, 1800, 1180);
		svg{
			transform: rotate(90deg);
		}
	}
	&-button-next{
		@include adaptiveValue("right", 30, 15, 0, 1800, 1180);
		svg{
			transform: rotate(-90deg);
		}
	}
}
.colors-list{
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 7, 2);
	@include adaptiveValue("font-size", 15, 11);
	color: #000;
	&__item{
		@include adaptiveValue("width", 25, 21);
		@include adaptiveValue("height", 25, 21);
		background: transparent;
		border: 1px solid transparent;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 50%;
		&::after{
			content: "";
			@include adaptiveValue("width", 15, 11);
			@include adaptiveValue("height", 15, 11);
			border-radius: 50%;
			background: #000;
		}
		&._active{
			border: 1px solid #e1e1e1;
		}
		&._navy-green{
			&::after{
				background: #9bb27e;
			}
		}
		&._dark-green{
			&::after{
				background: #417554;
			}
		}
		&._navy-blue{
			&::after{
				background: #80acbf;
			}
		}
		&._blue{
			&::after{
				background: #0b6b95;
			}
		}
	}
}
.toggler{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 20px;
	&__btn{
		width: auto !important;
		font-weight: 500;
		@include adaptiveValue("font-size", 14, 13);
		@include adaptiveValue("padding-left", 15, 10);
		@include adaptiveValue("padding-right", 15, 10);
		@include adaptiveValue("min-width", 125, 95);
		border: 1px solid #0391a2;
		color: rgba(0,0,0,0.5);
    flex-shrink: 0;
    white-space: nowrap;
		&._active{
			color: #fff;
			background: #0391a2;
		}
		&._active:hover{
			color: #fff;
			background: #0391a2;
		}
		&:hover{
			border-color:#0391a2;
			background-color: #f5f5f5;
		}
	}
	@media (max-width: 768px) {
		flex-wrap: nowrap;
		overflow-x: auto;
	}
}
.tags{
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 10px;
	&__btn{
		font-weight: 500;
		font-size: 12px;
		@include adaptiveValue("padding-left", 14, 10);
		@include adaptiveValue("padding-right", 14, 10);
		@include adaptiveValue("min-width", 120, 100);
		border: 1px solid #e1dfdf;
		border-radius: 15px;
		height: 30px;
		color: #000;
		width: inherit !important;
    white-space: nowrap;
    min-width: auto !important;
		&._active{
			background: #ededed;
		}
		&._active:hover{
			color: #fff;
			background: #0391a2;
		}
		&:hover{
			border-color:#0391a2;
		}
	}
	@media (max-width: 768px) {
		flex-wrap: nowrap;
		overflow-x: auto;
		padding-bottom: 10px;
	}
}
.social-link{
	display: block;
	width: 40px;
	height: 40px;
	background: #0391a2;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 5px;
	transition: all 0.3s;
	svg{
		fill: #fff;
		transition: all 0.3s;
	}
	&:hover{
		background-color: #f7b905;
		svg{
			fill: #000;
		}
	}
}
hr{
	@include adaptiveValue("margin-top", 50, 20);
	@include adaptiveValue("margin-bottom", 30, 15);
	border-top: 1px solid #cbcbcb;
}
.show-more{
	font-size: 12px;
	color: #0391a2;
	&:hover{
		text-decoration: underline;
	}
}
.load-more{
	@include adaptiveValue("width", 385, 325);
	height: 50px;
	border-radius: 12px;
	border: 2px solid #f7b905;
	margin: 40px auto;
	font-size: 13px;
	color: #000;
	&:hover{
		color: #fff;
		background-color: #f7b905;
	}
}
.choosed-filters{
	display: flex;
	align-items: center;
	overflow-y: clip;
	overflow-x: auto;
	gap: 10px;
	padding-bottom: 10px;
	margin-top: 10px;
	margin-bottom: -10px;
	&__item{
		flex-shrink: 0;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: flex;
		align-items: center;
		justify-content: space-between;
		gap: 7px;
		height: 30px;
		border-radius: 4px;
		border: 1px solid #e1dfdf;
		padding:0 8px;
		font-size: 12px;
		color: #000;
		&:hover{
			border-color: #0391a2;
			cursor: pointer;
			svg{
				opacity: 1;
			}
		}
	}
	&__close{
		margin-top: 2px;
		svg{
			opacity: 0.3;
			transition: all 0.3s;
		}
	}
}
.toggle-view{
	display: none;
	position: fixed;
	z-index: 1;
	bottom: 65px;
	align-items: center;
	justify-content: center;
	width: 80px;
	height: 30px;
	border-radius: 15px;
	background: #fff;
	border: 1px solid #cfcfcf;
	box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
	left: 50%;
	margin-left: -40px;
	&__delimeter{
		height: 30px;
		width: 1px;
		background-color: #cfcfcf;
	}
	&__btn{
		display: flex;
		justify-content: center;
		align-items: center;
		width: 36px;
		height: 100%;
		&._one-item{
			&::before{
				content:"";
				display: block;
				width: 12px;
				height: 12px;
				border-radius: 2px;
				background: #cfcfcf;
			}
			&._active{
				&::before, &::after{
					background: #000;
				}
			}
		}
		&._two-item{
			gap: 4px;
			&::before, &::after{
				content:"";
				display: block;
				width: 7px;
				height: 7px;
				border-radius: 2px;
				background: #cfcfcf;
			}
			&._active{
				&::before, &::after{
					background: #000;
				}
			}
		}
	}
	@media (max-width: 768px) {
		display: flex;
	}
}
.close-btn{
	position: absolute;
	right: 10px;
	top: 10px;
	width: 13px;
	height: 13px;
	&::after{
		content:"";
		width: 17px;
		height: 1px;
		background-color: #000;
		rotate: (45deg);
		position: absolute;
		left: -2px;
		top: 5px;
	}
	&::before{
		content:"";
		width: 17px;
		height: 1px;
		background-color: #000;
		rotate: (-45deg);
		position: absolute;
		left: -2px;
		top: 5px;
	}
}
.seo-text{
	line-height: 1.3;
}
.lnk-icon{
	display: flex;
	align-items: center;
	@include adaptiveValue("gap", 10, 7);
	@include adaptiveValue("font-size", 13, 12);
	&._blue{
		color: #0391a2;
		svg{
			fill: #0391a2;
		}
	}
	&:hover{
		color: #6ebe44;
		svg{
			fill: #6ebe44;
		}
	}
	@media (max-width: 768px) {
		
	}
}
.info-tooltip{
	display: inline-block;
	position: relative;
	&__icon{
		border-radius: 50%;
		width: 16px;
		height: 16px;
		background: #0391a2;
		display: flex;
		align-items: center;
		justify-content: center;
		text-align: center;
		font-weight: 300;
		font-size: 9px;
		color: #fff;
		cursor: pointer;
		&:hover{
			background: #6ebe44;
		}
	}
	&__body{
		position: absolute;
		left: 0;
		bottom: 20px;
		width: 220px;
		height: 115px;
		border-radius: 6px;
		background: #fff;
		border: 1px solid #e1e1e1;
		box-shadow: 5px 5px 55px rgba(0, 0, 0, 0.16);
		padding:15px 20px;
		font-weight: 300;
		font-size: 13px;
		line-height: 20px;
		color: #000;
		overflow: hidden;
		visibility: hidden;
		transition: all 0.3s;
		opacity: 0;
		a{
			display: block;
			margin-top: 5px;
			color: #0391a2;
			&:hover{
				text-decoration: underline;
			}
		}
	}
	&:hover .info-tooltip__body{
		visibility: visible;
		opacity: 1;
	}
}
.text-btns{
	@include adaptiveValue("margin-top", 45, 25);
	@include adaptiveValue("margin-bottom", 45, 30);
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	&__button{
		@include adaptiveValue("font-size", 15, 13);
		width: auto !important;
		height: 32px;
		font-weight: 300;
		color: #000;
		padding: 0 15px;
		&._yes{
			background: #f7b905;
			&:hover{
				background-color: #0391a2;
				color: #fff;
			}
		}
		&._no{
			background: #e1e1e1;
			&:hover{
				background: #a8a8a8;
				color: #fff;
			}
		}
	}
}

/* Модификаторы */
._gap-10{
	gap: 10px;
}
._mt-40{
	margin-top: 40px;
}
._mt-35{
	margin-top: 35px;
}
._mt-30{
	margin-top: 30px;
}
._mt-25{
	margin-top: 25px;
}
._mt-25-20{
	@include adaptiveValue("margin-top", 25, 20);
}
._mt-20{
	margin-top: 20px;
}
._mt-15{
	margin-top: 15px;
}
._mt-10{
	margin-top: 10px;
}
._mb-60-30{
	@include adaptiveValue("margin-bottom", 60, 30);
}
._mb-35{
	margin-bottom: 35px;
}
._mb-30{
	margin-bottom: 30px;
}
._mb-25{
	margin-bottom: 25px;
}
._mb-25-20{
	@include adaptiveValue("margin-bottom", 25, 20);
}
._mb-20{
	margin-bottom: 20px;
}
._mb-15{
	margin-bottom: 15px;
}
._mb-10{
	margin-bottom: 10px;
}
._mb-0{
	margin-bottom: 0;
}
._mr-auto{
	margin-right: auto;
}
._mr-30{
	margin-right: 30px;
}
._ml-auto{
	margin-left: auto;
}
._ml-30{
	margin-left: 30px;
}
._pl-0{
	padding-left: 0 !important;
}
._pr-0{
	padding-right: 0 !important;
}
._pt-30{
	padding-top: 30px;
}
._pb-30{
	padding-bottom: 30px;
}
._white-bg{
	background-color: #fff;
}
._only-mobile{
	@media (min-width: 768px) {
		display: none !important;
	}
}
._only-desktop{
	@media (max-width: 768px) {
		display: none !important;
	}
}
._opacity-50{
	opacity: 50%;
}
._min-width-100{
	min-width: 100%;
}
._max-width-100{
	max-width: 100%;
}
._max-width-80vw{
	max-width: 80vw;
}
._fz-13{
	font-size: 13px;
}
._fz-15{
	font-size: 15px;
}
._fz-16{
	font-size: 16px;
}
._fz-18{
	font-size: 18px;
}
._fz-20{
	font-size: 20px;
}
._fz-22{
	font-size: 22px;
}
._fz-20-14{
	@include adaptiveValue("font-size", 20, 14);
}
._fw-300{
	font-weight: 300;
}
._fw-400{
	font-weight: 400;
}
._fw-500{
	font-weight: 500;
}
._fw-600{
	font-weight: 600;
}
._color-white{
	color: #fff;
}
._color-black{
	color: #000;
}
._color-green{
	color: #6ebe44;
}
._color-blue{
	color: #0391a2;
}
._w100p{
	width: 100% !important;
}
._bdb-yellow{
	border-bottom: 2px solid #f7bd13;
}

.form{
	&__2col{
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 30px;
	}
	&__form-field{
		label{
			display: block;
			width: 100%;
			font-weight: 500;
			font-size: 13px;
			color: #000;
			margin-bottom: 10px;
		}
		input{
			width: 100%;
		}
	}
	&__form-accept{
		display: flex;
		gap: 13px;
		align-items: center;
		font-size: 12px;
		margin: 30px 0 40px;
		a{
			color: #0391a2;
		}
	}
	&__open-registration{
		width: 100% !important;
		height: 50px;
		border: 1px solid #0391a2;
		&:hover{
			background: #0391a2;
			color: #fff;
		}
	}
	&__blue-lnk{
		text-decoration: underline;
		font-size: 12px;
		color: #0391a2;
		margin-top: 5px;
		display: block;
		&:hover{
			text-decoration: none;
		}
		&._reg-form-btn{
			@include adaptiveValue("font-size", 18, 14);
			margin-top: 15px;
			font-weight: 300;
			text-align: right;
		}
	}
	& input[type="text"], & input[type="email"], & input[type="tel"], & input[type="password"], & input[type="number"], & input[type="date"], & input[type="time"], & textarea{
		height: 50px;
		border-radius: 12px;
		background: #fff;
		border: 1px solid #e1dfdf;
		padding: 12px 15px;
	}
	& input[type="submit"]{
		height: 50px;
	}
	& textarea{
		height: 100px;
		width: 100%;
		resize: none;
	}
	@media (max-width: 768px) {
		&__2col{
			grid-template-columns: repeat(1, 1fr);
			gap: 0;
		}
	}
}
.youtube-lazy{
	&-content{
		width: 100%;
		height: 100%;
		border-radius: 16px;
		overflow: hidden;
		display: none;
	}
	&-content iframe{
		display: none;
		width: 100%;
		height: 100%;
	}
	&-preview{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.credit-popup{
	@include adaptiveValue("margin-top", 35, 20);
	&__list-mounth{
		display: flex;
		gap: 10px;
		overflow-x: auto;
		margin-bottom: 15px;
		padding-bottom: 15px;
	}
	&__mounth{
		flex-shrink: 0;
		width: 108px;
	}
	&__mounth-price{
		border-radius: 12px;
		background: #dcf8cf;
		width: 100%;
		height: 55px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: 600;
		font-size: 18px;
		color: #6ebe44;
		margin-bottom: 10px;
		&._active{
			background: #6ebe44;
			color: #fff;
		}
		&:hover{
			opacity: 0.8;
		}
	}
	&__mounth-name{
		font-weight: 300;
		font-size: 14px;
		line-height: 22px;
		text-align: center;
		color: #808080;
	}
	&__content{
		border-radius: 16px;
		border: 2px dotted #e1e1e1;
		@include adaptiveValue("padding", 40, 15);
	}
	&__title{
		font-weight: 500;
		font-size: 18px;
		line-height: 22px;
		color: #000;
		margin-bottom: 20px;
	}
	&__subtitle{
		margin-bottom: 30px;
		@include adaptiveValue("margin-bottom", 30, 15);
	}
	&__busket{
		width: 260px !important; 
		height: 50px;
	}
	@media (max-width: 768px) {
		&__list-mounth{
			margin-right: -15px;
		}
		&__busket{
			width: 100% !important;
		}
	}
}